/* Amigo Performance Main Style */
/* .amperf-header h1{
    text-align: center;
} */
.amperf-header span.amigoperf_pluginversion {
    color: #4caf50;
    font-size: medium;
}
/* .amperf-container {
    max-width: 1500px;
    margin: auto;
    border: 2px solid lightgray;
} */

/* #formid{
    max-width: 1200px;
    margin: auto;
    border: 3px solid green;
    padding: 15px;
} */
.amperf-submitbtn{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
}
.amperf-submitbtn:hover{
    background-color: #46a049;
}
/* The container */
.amigoPerf_lable {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.amigoPerf_lable input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.amigoPerf_lable:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.amigoPerf_lable input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.amigoPerf_lable input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.amigoPerf_lable .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.amigoPerf_enqueued {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}

.amigoPerf_enqueued td, .amigoPerf_enqueued th {
  border: 1px solid #ddd;
  padding: 8px;
}

.amigoPerf_enqueued tr:nth-child(even){background-color: #f2f2f2;}

.amigoPerf_enqueued tr:hover {background-color: #ddd;}

.amigoPerf_enqueued th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

.amigoPerf-row{
  display: flex;
}
.amigoPerf-column{
  width: 50%;
}